.git
.gitignore
README.md
.env
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.mypy_cache
.pytest_cache
.hypothesis

# Development files
tests/
docs/
*.md
Makefile

